.producthunt{
position:absolute;
top:30px;
right:10px;
padding:5px;
font-size:12.5px;
line-height:1.8;
background-color:#DA552F;
color:#fff;
border-radius:5px;
}
.loading{
position:absolute;
top:30px;
right:10px;
padding:5px;
font-size:12.5px;
line-height:1.8;
background-color:#DA552F;
color:#fff;
border-radius:5px;
}
